{% extends 'task_management/base.html' %} {% block content %}
  <div style="width: 80%; margin: 20px auto;">
    <h1>Task List</h1>
    {% if tasks %}
    <div class="row">
      {% for task in tasks %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ task.taskTitle }}</h5>
              <p class="card-text">{{ task.taskDescription }}</p>
              <p class="card-text">
                <small class="text-muted">Assigned on: {{ task.taskAssignDate }}</small>
              </p>
              {% if not task.is_completed %}
                <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
              {% else %}
              <button class="btn btn-success">Completed</button>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
    <h2>No Tasks found</h2>
    {% endif %}
  </div>
{% endblock %}
